<launch>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find daedalus)/urdf/daedalus_rod.urdf.xacro"/>
  <arg name="lidar_rev_speed" default="3.14"/>
  <arg name="world" default="empty_world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find daedalus)/worlds/$(arg world).world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  <param name="controller_on" type="bool" value="false"/>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-x 0 -y 0 -Y 0 -z 0 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" if="$(eval arg('world') == 'empty_world')"/>
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-x 12.74 -y 42.4 -Y 1.7 -z 6.8 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" if="$(eval arg('world') == 'inspection')"/>
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-x 6 -y 6 -Y 1.57 -z 0 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" if="$(eval arg('world') == 'IndianTunnel')"/>
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-x 0 -y 60 -Y 3.14 -z 1 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" if="$(eval arg('world') == 'cave_world')"/>
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-x 0 -y 0 -Y 0 -z 1 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" if="$(eval arg('world') == 'ramp')"/>
   <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-x 0 -y 0 -Y 0 -z 0.7 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" if="$(eval arg('world') == 'env')"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <node name="imu_euler" pkg="daedalus" type="imu_euler" output="screen"/>
  
  <node pkg="rostopic" type="rostopic" name="rostopic" args="pub -r 1 /daedalus_lidar_controller/command std_msgs/Float64MultiArray '{data:[$(arg lidar_rev_speed), $(arg lidar_rev_speed), $(arg lidar_rev_speed), $(arg lidar_rev_speed)]}'"/>
  <node name="drive_encoder" pkg="daedalus" type="drive_encoder" output="screen"/>
  <node name="encoder_based_position_estimator" pkg="daedalus" type="encoder_based_position_estimator" output="screen"/>
  <node name="allocator" pkg="daedalus" type="vpip_extension_allocator" output="screen" respawn="true"/>
  <node name="driver" pkg="daedalus" type="rod_driver" output="screen"/>
 
  <arg name="rvizconfig" default="$(find daedalus)/rviz/tuning.rviz" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <rosparam command="load"
            file="$(find daedalus)/config/joints.yaml"
            ns="daedalus_joint_state_controller" />

  <rosparam command="load"
            file="$(find daedalus)/config/controlgains.yaml"/>

  <rosparam command="load"
            file="$(find daedalus)/config/drive.yaml"
            ns="daedalus_battery_velocity_controller"/>
  
  <rosparam command="load"
            file="$(find daedalus)/config/steer.yaml"
            ns="daedalus_battery_steer_controller" />

  <rosparam command="load"
            file="$(find daedalus)/config/lidar.yaml"
            ns="daedalus_lidar_controller" />

  <rosparam command="load"
            file="$(find daedalus)/config/leg_left.yaml"
            ns="daedalus_left_controller" />

  <rosparam command="load"
            file="$(find daedalus)/config/leg_right.yaml"
            ns="daedalus_right_controller" />

  <node name="daedalus_controller_spawner" pkg="controller_manager" type="spawner"
    args="daedalus_joint_state_controller
          daedalus_battery_velocity_controller
          daedalus_battery_steer_controller
          daedalus_lidar_controller
          daedalus_left_controller
          daedalus_right_controller"/>
</launch>